<li>
    <%= post.content %>
    <br>
    <%= post.user.name %>
    <% if((locals.user) && (locals.user.id == post.user.id)){%>
        <small>
            <a href="/posts/destroy/<%= post.id %>"> Delete post</a>
        </small>

    <%}%>

</li>