
    <link rel="stylesheet" href="/css/user_profile.css">
    <h1>
        you are inside user and the name of the user is <%= user.name %>
    </h1>

    <p><%= user.name %></p>
    <p><%= user.email %></p>
    