header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black; }
  header #logo {
    float: right;
    color: white;
    font-family: 'Pangolin', cursive;
    padding-left: 1%; }
    header #logo a {
      text-decoration: none;
      color: white; }
  header .auth {
    display: flex; }
    header .auth button {
      box-shadow: 0px 0px 6px 4px lightgray;
      border-radius: 22px;
      border-style: none;
      height: max-content; }
    header .auth a {
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 1.2rem; }
    header .auth #username a {
      color: white; }
